<form>
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter the player's firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter the player's lastname">
    </div>
    <div class="form-group">
        <label for="jerseyNumber">Jersey number</label>
        <input type="number" class="form-control" id="jerseyNumber" placeholder="Number between 0 and 99">
    </div>
    <div class="form-group">
        <label for="teamId">Team</label>
        <select class="form-control" id="teamId">
            <option *ngFor="let t of teams; let i = index" [ngValue]="teams[i].id">{{ t.fullname + ' (' + t.conference + ')'}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add player</button>
</form>