<div class="row" *ngIf="teams && players">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Jersey number</th>
            <th scope="col">Team</th>
            <th scope="col">Conference</th>
            <th scope="col">Voir joueur</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of players">
            <td>{{ p.firstname + ' ' + p.lastname }}</td>
            <td>{{ p.jersey }}</td>
            <td>{{ (p | getTeam | async).fullname }}</td>
            <td>{{ (p | getTeam | async).conference }}</td>
            <td>
                <a [routerLink]="['player', p.id]"><fa-icon [icon]="iconEye"></fa-icon></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr />

<tp4></tp4>